<h1>Weather App Basic examples</h1>
<basics-weather-introduction class="block pb-4"></basics-weather-introduction>
<div class="block relative min-h-100">
  <ng-container *ngIf="(isLoading$ | async) === false">
    <basics-location
      *ngIf="(mainLocation$ | async) !== null"
      (searched)="search($event)"
      [defaultLocation]="(mainLocation$ | async)!"
      class="block pb-4"
    ></basics-location>
    <basics-weather-results
      *ngIf="weather$ | async"
      [weatherLocations]="(weather$ | async)!"
      (savedLocation)="saveLocation($event)"
      class="block pb-4"
    ></basics-weather-results>
    <basics-error-message *ngIf="warning$ | async as message" [message]="message!" class="block mb-3"></basics-error-message>
  </ng-container>
  <basics-loading *ngIf="isLoading$ | async"></basics-loading>
</div>
<basics-weather-explanation class="block pb-4"></basics-weather-explanation>
