<h1>Weather App Basic examples</h1>
<examples-weather-introduction class="block pb-4"></examples-weather-introduction>
<div class="block relative min-h-100">
  <ng-container *ngIf="(isLoading$ | async) === false">
    <examples-location
      *ngIf="(mainLocation$ | async) !== null"
      (searched)="search($event)"
      [defaultLocation]="(mainLocation$ | async)!"
      class="block pb-4"
    ></examples-location>
    <examples-weather-results
      *ngIf="weather$ | async"
      [weatherLocations]="(weather$ | async)!"
      (savedLocation)="saveLocation($event)"
      class="block pb-4"
    ></examples-weather-results>
    <examples-error-message *ngIf="warning$ | async as message" [message]="message!" class="block mb-3"></examples-error-message>
  </ng-container>
  <examples-loading *ngIf="isLoading$ | async"></examples-loading>
</div>
<examples-weather-explanation class="block pb-4"></examples-weather-explanation>
