<h1>Welcome to the <span class="highlight">basic examples for Angular Testing</span></h1>
<p>
  This app includes basic examples on how to write tests for angular applications. It will grow with time and showcase more and more scenarios, so you
  can use it as a reference for your testing needs.
</p>
<h2>Just a little FAQ:</h2>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> This repository is mocking a lot! Is this a good way of doing things? </mat-panel-title>
  </mat-expansion-panel-header>
  <p>
    This is a first impression for the first set of examples in this application. The Weather Page is tested with a lot of mocking except for
    scenarios, where this is not applicable. Further it provides a small use case end-to-end test and an integrative test for the, main page to
    protect us while refactoring large parts.
  </p>
  <p>We will provide more examples with other approaches later.</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Is there anything I should know before visiting this app? </mat-panel-title>
  </mat-expansion-panel-header>
  <p>
    We suggest that you read
    <a href="https://github.com/nt-ca-aqe/ws-cloud-native-testing/blob/master/basics/README.adoc" target="_blank">
      the basic introduction to testing
    </a>
    first. It provides an overview as to why we write tests and how we should do so. There are many examples explained, much more than this app
    contains. For that reason, this repository will be growing over time.
  </p>
  <p></p
></mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> I do not find examples for my specific problem, where can I get help? </mat-panel-title>
  </mat-expansion-panel-header>
  <p>
    Just reach out to us. If your example is already covered, or something close to it, we will point you to it. Otherwise we have the chance to
    improve upon our examples. But please keep in mind, this is a show case for the testing basics. Thus, we can not ensure your topic to be
    introduced.
  </p>
</mat-expansion-panel>
