<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="json-logging" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="json-logging"/>
    </root>
</configuration>
