:host {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 8px);
  height: 100%;
  min-height: 100px;
  display: flex;
  margin: 0 -4px;
  justify-content: center;
  align-items: center;
  background-color: theme('colors.background.500');
  border-radius: 4px;
}
