@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');
@import './styles/material/_theming';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0 1rem;

  li {
    margin-bottom: 0.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

html,
body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

a {
  color: theme('colors.accent.300');
}

ol {
  @apply list-decimal ml-8;

  li {
    @apply mt-2 last:mb-2;
  }
}

ul {
  @apply list-disc ml-8;

  li {
    @apply mt-2 last:mb-2;
  }
}

mat-expansion-panel {
  @apply mb-8 #{!important};
}
