:host {
  padding: 0 1rem;

  @screen sm {
    width: (theme('screens.sm'));
  }
  @screen md {
    width: (theme('screens.md'));
  }
  @screen lg {
    width: (theme('screens.lg'));
  }
  @screen xl {
    width: (theme('screens.lg'));
  }
}
